module.exports = {
  /** 获取 flag */
  getFlag: function (locate) {
    return locate === "南苑清真" ||
      locate === "南苑三楼" ||
      locate === "南苑一楼"
      ? "flag2"
      : locate === "北苑一楼" || locate === "北苑二楼"
      ? "flag1"
      : "flag3";
  },

  /** 获取校区 */
  getCampus: function (locate) {
    return locate === "南苑清真" ||
      locate === "南苑三楼" ||
      locate === "南苑一楼"
      ? "南苑"
      : locate === "北苑一楼" || locate === "北苑二楼"
      ? "北苑"
      : "净月";
  },
};
