/** 摇动次数 */
var times = 0;

module.exports = {
  /** 分类 */
  grid: [
    { type: "饭菜", tag: "饭/菜", icon: "rice" },
    { type: "汤面", tag: "面/粉", icon: "noodle" },
    { type: "饮品", icon: "drink" },
    { type: "粥", icon: "porridge" },
    { type: "肉类", icon: "meat" },
    { type: "面食", icon: "flour" },
    { type: "水果", icon: "fruit", url: "/fruit/index/index" },
    { type: "水果", icon: "fruit", url: "/fruit/stallList/stallList" },
  ],
  /** 轮播图片 */
  imgs: [
    "https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1584444172229&di=59165737b908cefac2a59248ae0f9c37&imgtype=0&src=http%3A%2F%2Fimg.mp.itc.cn%2Fupload%2F20161107%2F933cd537e5a541c0b72fc5eb756a455b_th.jpeg",
    "https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1584444285216&di=e22058000f55353ac2859e84d1074fec&imgtype=0&src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2Ff%2F57b158b5bcdde.jpg",
  ],
  tags: [
    /** 口味 */
    ["酸", "甜", "辣", "咸", "少油少盐"],
    /** 地域 */
    ["东北风味", "四川风味", "北方风味", "南方风味", "特色菜"],
  ],
  /** 切换分类显示状态 */
  onToggle: function (event, ownerInstance) {
    var navBarInstance = ownerInstance.selectComponent(".navbar"); // 返回组件的实例

    // 切换 onfold class
    if (navBarInstance.hasClass("unfold")) navBarInstance.removeClass("unfold");
    else navBarInstance.addClass("unfold");

    return false;
  },
  /** 骰子图片 */
  getDiceImage: function (value) {
    times += 1;
    return value === 0
      ? "./icon/default.png"
      : // add params to enforce refresh the image each time
        "./icon/" + value + ".gif?times=" + times;
  },
  /** 弹窗配置 */
  popupConfig: function (recommand, value) {
    return {
      title: recommand[value - 1] && recommand[value - 1].name,
      subtitle: "最终结果",
      cancel: false,
    };
  },
};
